*,*::after,*::before{
    box-sizing:border-box;
}

a:hover{
    opacity: 0.7;
}
.bg-red{
    background-color: #AA0601;
}

//文字
.fs-36{
    font-size: 36px;
}
.fs-48{
    font-size: 48px;
}
.fs-64{
    font-size: 64px;
}

.f-cor{
    color:#650300;
}

//間距
.pr-64{
    margin-right: 64px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.mr-32{
    margin-right: 32px;
}
.my-80{
    margin-top: 80px;
    margin-bottom: 80px;
}