<div class="bg-danger">
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <ul class="list-unstyled d-none d-md-block d-flex justify-content-around align-items-start">
                    <li><a href="#" class="col text-white text-decoration-none fs-6 me-5">首頁</a></li>
                    <li><a href="#" class="col text-white text-decoration-none fs-6 me-5">系列鏡框</a></li>
                    <li><a href="#" class="col text-white text-decoration-none fs-6 me-5">門市據點</a></li>
                    <li><a href="#" class="col text-white text-decoration-none fs-6 me-5">部落格</a></li>
                    <li><a href="#" class="col text-white text-decoration-none fs-6 me-5">常見問題</a></li>
                </ul>
                <ul class="col list-unstyled">
                    <li class="d-flex align-items-center">
                        <a href="#" class="d-block text-white text-decoration-none">
                            <span class="material-symbols-outlined">call</span>
                            0800-000-000
                        </a>
                    </li>
                    <li class="d-flex align-items-center">
                        <a href="#" class="col text-white text-decoration-none">
                            <span class="material-symbols-outlined">mail</span>
                            glasses@business.com
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row d-flex list-unstyled">
                <a class="mr-32" href="#"><img src="../assets/images/ic-social-fb.png" height="48" alt="fb"></a>
                <a class="mr-32" href="#"><img src="../assets/images/ic_social_ig.png" height="48" alt="ig"></a>
                <a class="mr-32" href="#"><img src="../assets/images/ic_social_line.png" height="48" alt="line"></a>
            </div>
        </div>
    </div>
</div>