<div class="bg-danger">
    <div class="container">
        <ul class="row list-unstyled">
            <li><a href="#" class="col text-white">首頁</a></li>
            <li><a href="#" class="col text-white">系列鏡框</a></li>
            <li><a href="#" class="col text-white">門市據點</a></li>
            <li><a href="#" class="col text-white">部落格</a></li>
            <li><a href="#" class="col text-white">常見問題</a></li>
        </ul>
        <ul class="row">
            
        </ul>
    </div>
</div>