.list1{
    top: 350px;
    right:300px;
}
.list2{
    padding: 6px 12px;
}

.bg-p{
    background-color: #FBF2F2;
}
.f2-cor{
    color:#AA0601;
}

.list3{
    top: 100px;
}
.list4{
    padding: 8px 180px;
}
.list5{
    padding: 8px 100px;
}